* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

.display-flex {
    display: flex;
}
/*Regras de Container*/

.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

/*cabeçalho*/

header {
    background: #192a56;
    color: #fff;
    padding-top: 16px;
}

header > .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

/*Menu-Hamburguer*/

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    background: #fff;
    width: 100%;
    height: 2px;
    display: block;
    margin-bottom: 5px;
}

/*Menu-navegação*/

nav {
    background: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li {
    display: inline;
    list-style: none;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

/*Sobre a Loja*/
.sobreALoja img {
    height: 400px;
    margin-right: 24px;
}

.section {
    padding: 48px 0;
}

.section h2 {
    margin-bottom: 16px;
}

/*Lista de Veiculos*/
.lista-veiculos li{
    list-style: none;
    max-width: 30%;
}

.lista-veiculos li img {
    max-width: 100%;
}

.lista-veiculo {
    flex-wrap: wrap;
}


.lista-veiculos li h3 {
    margin: 16px 0;
}

.item-central {
    margin: 0 5%;
}